<div class="flex flex-col lg:flex-row gap-x-12 py-8 px-32 bg-[#953D45]">
  

  <div class="flex flex-col gap-y-16 w-full lg:w-8/12">
    <!-- Videos Section -->
    <div class="w-full bg-[#953D45]">
      <h1 class="text-[#F4E3D1] text-2xl mb-4">Videos</h1>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="col-span-2 bg-[#F4E3D1] p-4 size-full aspect-[4/3]">
          <h2 class="text-[#953D45]">How to improve your skills</h2>
          <p class="text-[#953D45]">Waseem Arshad</p>
          <p class="text-[#953D45]">10,787 views</p>
        </div>
        <div class="flex flex-col gap-4">
          <div class="bg-[#F4E3D1] aspect-[4/3] p-4 h-full">
            <p class="text-[#953D45]">Michael Keigh</p>
            <p class="text-[#953D45]">15,454 views</p>
          </div>
          <div class="bg-[#F4E3D1] aspect-[4/3] p-4 h-full">
            <p class="text-[#953D45]">Michael Keigh</p>
            <p class="text-[#953D45]">15,454 views</p>
          </div>
        </div>
        <div class="bg-[#F4E3D1] aspect-[4/3] p-4">
          <p class="text-[#953D45]">Ahmed Yasin</p>
          <p class="text-[#953D45]">1,984 views</p>
        </div>
        <div class="bg-[#F4E3D1] aspect-[4/3] p-4">
          <p class="text-[#953D45]">John Stainior</p>
          <p class="text-[#953D45]">2,554 views</p>
        </div>
        <div class="bg-[#953D45] text-[#F4E3D1] flex items-center justify-center">
          <button class="border-2 border-[#F4E3D1] px-4 aspect-[4/3] size-full">Upload Your Own Video</button>
        </div>
      </div>
    </div>

    <!-- People Section -->
    <div class="w-full bg-[#953D45]">
      <h1 class="text-[#F4E3D1] text-2xl mb-4">People</h1>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="col-span-2 bg-[#F4E3D1] p-4 size-full aspect-[4/3]">
          <h2 class="text-[#953D45]">How to improve your skills</h2>
          <p class="text-[#953D45]">Waseem Arshad</p>
          <p class="text-[#953D45]">10,787 views</p>
        </div>
        <div class="flex flex-col gap-4">
          <div class="bg-[#F4E3D1] aspect-[4/3] p-4 h-full">
            <p class="text-[#953D45]">Michael Keigh</p>
            <p class="text-[#953D45]">15,454 views</p>
          </div>
          <div class="bg-[#F4E3D1] aspect-[4/3] p-4 h-full">
            <p class="text-[#953D45]">Michael Keigh</p>
            <p class="text-[#953D45]">15,454 views</p>
          </div>
        </div>
        <div class="bg-[#F4E3D1] aspect-[4/3] p-4">
          <p class="text-[#953D45]">Ahmed Yasin</p>
          <p class="text-[#953D45]">1,984 views</p>
        </div>
        <div class="bg-[#F4E3D1] aspect-[4/3] p-4">
          <p class="text-[#953D45]">John Stainior</p>
          <p class="text-[#953D45]">2,554 views</p>
        </div>
        <div class="bg-[#953D45] text-[#F4E3D1] flex items-center justify-center">
          <button class="border-2 border-[#F4E3D1] px-4 aspect-[4/3] size-full">Show Your Work</button>
        </div>
      </div>
    </div>

    <!-- People Section -->
    <div class="w-full bg-[#953D45]">
      <h1 class="text-[#F4E3D1] text-2xl mb-4">People</h1>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="col-span-2 bg-[#F4E3D1] p-4 size-full aspect-[4/3]">
          <h2 class="text-[#953D45]">How to improve your skills</h2>
          <p class="text-[#953D45]">Waseem Arshad</p>
          <p class="text-[#953D45]">10,787 views</p>
        </div>
        <div class="flex flex-col gap-4">
          <div class="bg-[#F4E3D1] aspect-[4/3] p-4 h-full">
            <p class="text-[#953D45]">Michael Keigh</p>
            <p class="text-[#953D45]">15,454 views</p>
          </div>
          <div class="bg-[#F4E3D1] aspect-[4/3] p-4 h-full">
            <p class="text-[#953D45]">Michael Keigh</p>
            <p class="text-[#953D45]">15,454 views</p>
          </div>
        </div>
        <div class="bg-[#F4E3D1] aspect-[4/3] p-4">
          <p class="text-[#953D45]">Ahmed Yasin</p>
          <p class="text-[#953D45]">1,984 views</p>
        </div>
        <div class="bg-[#F4E3D1] aspect-[4/3] p-4">
          <p class="text-[#953D45]">John Stainior</p>
          <p class="text-[#953D45]">2,554 views</p>
        </div>
        <div class="bg-[#953D45] text-[#F4E3D1] flex items-center justify-center">
          <button class="border-2 border-[#F4E3D1] px-4 aspect-[4/3] size-full">Show Your Work</button>
        </div>
      </div>
    </div>

  </div>
  <!-- Activity Section -->
  <div class="w-full lg:w-4/12 bg-[#953D45]">
    <h1 class="text-[#F4E3D1] text-2xl mb-4">Activity</h1>
    <ul class="space-y-6 border-y-4 border-[#F4E3D1] py-4">
      <li class="flex flex-row gap-4 p-1 hover:outline hover:outline-[#F4E3D1]">
        <div class="w-28 aspect-[4/3] bg-[#F4E3D1]">
        </div>
        <div class="flex flex-col">
          <span class="text-[#F4E3D1] text-sm line-clamp-1"><strong class="text-base">John Stainior</strong> commented</span>
          <span class="text-[#F4E3D1] text-base line-clamp-1">Well, I am liking it how it captures the audi...</span>
          <span class="text-[#F4E3D1] text-xs">2 seconds ago</span>
        </div>
      </li>
      <li class="flex flex-row gap-4 p-1 hover:outline hover:outline-[#F4E3D1]">
        <div class="w-28 aspect-[4/3] bg-[#F4E3D1]">
        </div>
        <div class="flex flex-col">
          <span class="text-[#F4E3D1] text-sm line-clamp-1"><strong class="text-base">John Stainior</strong> commented</span>
          <span class="text-[#F4E3D1] text-base line-clamp-1">Well, I am liking it how it captures the audi...</span>
          <span class="text-[#F4E3D1] text-xs">2 seconds ago</span>
        </div>
      </li>
      <li class="flex flex-row gap-4 p-1 hover:outline hover:outline-[#F4E3D1]">
        <div class="w-28 aspect-[4/3] bg-[#F4E3D1]">
        </div>
        <div class="flex flex-col">
          <span class="text-[#F4E3D1] text-sm line-clamp-1"><strong class="text-base">John Stainior</strong> commented</span>
          <span class="text-[#F4E3D1] text-base line-clamp-1">Well, I am liking it how it captures the audi...</span>
          <span class="text-[#F4E3D1] text-xs">2 seconds ago</span>
        </div>
      </li>
      <li class="flex flex-row gap-4 p-1 hover:outline hover:outline-[#F4E3D1]">
        <div class="w-28 aspect-[4/3] bg-[#F4E3D1]">
        </div>
        <div class="flex flex-col">
          <span class="text-[#F4E3D1] text-sm line-clamp-1"><strong class="text-base">John Stainior</strong> commented</span>
          <span class="text-[#F4E3D1] text-base line-clamp-1">Well, I am liking it how it captures the audi...</span>
          <span class="text-[#F4E3D1] text-xs">2 seconds ago</span>
        </div>
      </li>
      <li class="flex flex-row gap-4 p-1 hover:outline hover:outline-[#F4E3D1]">
        <div class="w-28 aspect-[4/3] bg-[#F4E3D1]">
        </div>
        <div class="flex flex-col">
          <span class="text-[#F4E3D1] text-sm line-clamp-1"><strong class="text-base">John Stainior</strong> commented</span>
          <span class="text-[#F4E3D1] text-base line-clamp-1">Well, I am liking it how it captures the audi...</span>
          <span class="text-[#F4E3D1] text-xs">2 seconds ago</span>
        </div>
      </li>
      <li class="flex flex-row gap-4 p-1 hover:outline hover:outline-[#F4E3D1]">
        <div class="w-28 aspect-[4/3] bg-[#F4E3D1]">
        </div>
        <div class="flex flex-col">
          <span class="text-[#F4E3D1] text-sm line-clamp-1"><strong class="text-base">John Stainior</strong> commented</span>
          <span class="text-[#F4E3D1] text-base line-clamp-1">Well, I am liking it how it captures the audi...</span>
          <span class="text-[#F4E3D1] text-xs">2 seconds ago</span>
        </div>
      </li>
    </ul>
  </div>
</div>
